---
// Import the necessary components
import SubHeroSection from "@/components/sections/landing/SubHeroSection.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import ContactSection from "@components/sections/misc/ContactSection.astro";
import { SITE } from "@data/constants";
import bg1 from "@images/about.png";
import { Image } from "astro:assets";
import FeatureOver from "@/components/sections/features/FeatureOver.astro";
import experienceImg from "@images/experience.png";
import about1 from "@images/About1.jpeg";
import about3 from "@images/About3.jpg";


const pageTitle: string = `About | ${SITE.title}`;
---

<!--Utilizing MainLayout for the outer layout of the page, and defining meta for SEO purposes-->

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://Metalindo.uk/contact",
    "url": "https://Metalindo.uk/contact",
    "name": "Contact Us | Metalindo",
    "description":
      "Don'’'t hesitate to contact us. Let'’'s collaborate and bring your vision to life—because at Metalindo, your satisfaction is our priority.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://Metalindo.uk",
      "name": "Metalindo",
      "description":
        "Kita menyediakan solusi untuk layanan pembuatan custom & modular berbasis metal, kayu, akrilik hingga printing untuk keperluan kegiatan event dan promosi.",
    },
    "inLanguage": "en-US"
  }}
>
  <SubHeroSection
    title="About Us"
    src={bg1}
    alt="Contact Us"
  />
  <div class="default-p mt-12">
    <div class="flex flex-col md:flex-row gap-2 justify-center items-center mt-12">
        <div class="flex flex-col gap-2 md:w-1/2">
            <h1 class="font-oswald font-bold text-3xl tracking-tight">{SITE.title}</h1>
            <p class="border-l-2 border-redP pl-4">Kami ahli dalam <b>membuat display kustom dan modular, booth, serta material promosi menggunakan logam, kayu, akrilik, dan cetak digital</b>. Layanan kami meliputi kebutuhan untuk acara, pameran, serta pengaturan interior maupun eksterior. 
            </p>
        </div>
        <Image
          class="md:w-1/2 rounded-xs"
          src={experienceImg}
          alt="About Us"
        />
    </div>
    <div class="">
        <FeatureOver
          title={`KAMI MEMBAWA LEBIH DARI <br />25 TAHUN PENGALAMAN`}
          subTitle={`Menyediakan solusi inovatif dan berkualitas tinggi untuk<br />
                      semua kebutuhan media dan promosi Anda. Keahlian kami<br />
                      meliputi berbagai industri, menawarkan layanan yang disesuaikan<br />
                      dengan visi Anda.`}
          src={about1}
          alt="Experience"
        />
    </div>
    <div class="flex flex-col md:flex-row gap-2 justify-center items-center my-12">
        <div class="flex flex-col gap-2 md:w-1/2">
            <h1 class="font-oswald font-bold text-3xl tracking-tight uppercase">Didirikan oleh tim yang penuh semangat dan berdedikasi.</h1>
            <p>“Kami berkomitmen untuk membangun bisnis profesional yang menghadirkan solusi terbaik bagi mitra kami di semua bidang media luar ruang dan promosi. Sebagai profesional muda yang berpengalaman, kami didorong oleh visi bersama untuk berinovasi, mencipta, dan meraih keunggulan dalam setiap proyek yang kami jalankan.”
            </p>
            <div class="flex flex-row gap-x-2 items-center">
              <div class="bg-redP w-6" style="height: 2px;"></div>
              <b>by {SITE.title} team</b>
            </div>
        </div>
        <Image
          class="md:w-1/2 rounded-xs"
          src={about3}
          alt="About Us"
        />
    </div>
  </div>
</MainLayout>
