---
// Import the necessary components
import SubHeroSection from "@/components/sections/landing/SubHeroSection.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@data/constants";
import bg1 from "@images/about.png";
import { Image } from "astro:assets";
import FeatureOver from "@/components/sections/features/FeatureOver.astro";
import experienceImg from "@images/experience.png";
import about1 from "@images/About1.jpeg";
import about3 from "@images/About3.jpg";
const pageTitle: string = `About | ${SITE.title}`;
---
<!--Utilizing MainLayout for the outer layout of the page, and defining meta for SEO purposes-->
<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://Metalindo.uk/contact",
    "url": "https://Metalindo.uk/contact",
    "name": "Contact Us | Metalindo",
    "description":
      "Don'''t hesitate to contact us. Let'''s collaborate and bring your vision to life—because at Metalindo, your satisfaction is our priority.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://Metalindo.uk",
      "name": "Metalindo",
      "description":
        "Kita menyediakan solusi untuk layanan pembuatan custom & modular berbasis metal, kayu, akrilik hingga printing untuk keperluan kegiatan event dan promosi.",
    },
    "inLanguage": "en-US"
  }}
>
  <SubHeroSection
    title="About Us"
    src={bg1}
    alt="Contact Us"
  />
  
  <!-- Main content with grid layout -->
  <div class="container mx-auto default-p py-16 mt-4 md:mt-6">
    <!-- First section -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-8 items-center">
      <div class="space-y-6">
        <h1 class="font-oswald font-bold text-3xl md:text-4xl lg:text-5xl tracking-tight">{SITE.title}</h1>
        <p class="border-l-4 border-redP pl-4 text-base sm:text-lg lg:text-xl">
          Kami ahli dalam <span class="font-bold">membuat kustom display booth dan rak display, serta material promosi menggunakan logam, kayu, akrilik, dan digital printing</span>. Layanan kami meliputi kebutuhan untuk acara, pameran, serta pengaturan interior maupun eksterior.
        </p>
      </div>
      <div class="mt-6 md:mt-0">
        <Image
          class="w-full h-auto rounded-lg shadow-lg"
          src={about1}
          alt="About Us"
        />
      </div>
    </div>
    
    <!-- Second section (FeatureOver component) -->
    <div class="mb-20">
      <FeatureOver
        title={`KAMI MEMBAWA LEBIH DARI <br />25 TAHUN PENGALAMAN`}
        subTitle={`Menyediakan solusi inovatif dan berkualitas tinggi untuk<br />
                    semua kebutuhan media dan promosi Anda. Keahlian kami<br />
                    meliputi berbagai industri, menawarkan layanan yang disesuaikan<br />
                    dengan visi Anda.`}
        src={experienceImg}
        alt="Experience"
      />
    </div>
    
    <!-- Third section -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div class="space-y-6 order-2 md:order-1">
        <h2 class="font-oswald font-bold text-2xl md:text-3xl lg:text-4xl tracking-tight uppercase">
          Didirikan oleh tim yang penuh semangat dan berdedikasi.
        </h2>
        <p class="text-base sm:text-lg">
          "Kami berkomitmen untuk membangun bisnis profesional yang menghadirkan solusi terbaik bagi mitra kami di semua bidang media luar ruang dan promosi. Sebagai profesional muda yang berpengalaman, kami didorong oleh visi bersama untuk berinovasi, mencipta, dan meraih keunggulan dalam setiap proyek yang kami jalankan."
        </p>
        <div class="flex flex-row gap-x-3 items-center">
          <div class="bg-redP w-8 h-0.5"></div>
          <span class="font-semibold text-base sm:text-lg">by {SITE.title} team</span>
        </div>
      </div>
      <div class="order-1 md:order-2 mb-6 md:mb-0">
        <Image
          class="w-full h-auto rounded-lg shadow-lg"
          src={about3}
          alt="About Us"
        />
      </div>
    </div>
  </div>
</MainLayout>