---
// Import the necessary components
import SubHeroSection from "@/components/sections/landing/SubHeroSection.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import ContactSection from "@components/sections/misc/ContactSection.astro";
import { SITE } from "@data/constants";
import bg1 from "@images/about.png";
import { Image } from "astro:assets";
import FeatureOver from "@/components/sections/features/FeatureOver.astro";
import experienceImg from "@images/experience.png";
import about1 from "@images/About1.jpeg";
import about3 from "@images/About3.jpg";


const pageTitle: string = `About | ${SITE.title}`;
---

<!--Utilizing MainLayout for the outer layout of the page, and defining meta for SEO purposes-->

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/contact",
    "url": "https://screwfast.uk/contact",
    "name": "Contact Us | ScrewFast",
    "description":
      "Don'’'t hesitate to contact us. Let'’'s collaborate and bring your vision to life—because at Metalindo, your satisfaction is our priority.",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://screwfast.uk",
      "name": "ScrewFast",
      "description":
        "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs.",
    },
    "inLanguage": "en-US"
  }}
>
  <SubHeroSection
    title="About Us"
    src={bg1}
    alt="Contact Us"
  />
  <div class="default-p mt-12">
    <div class="flex flex-col md:flex-row gap-2 justify-center items-center mt-12">
        <div class="flex flex-col gap-2 md:w-1/2">
            <h1 class="font-oswald font-bold text-3xl tracking-tight">{SITE.title}</h1>
            <p class="border-l-2 border-redP pl-4">We specialize in <b>creating custom and modular displays, booths, and promotional materials using metal, wood, acrylic, and digital printing.</b> Our services cater to events, exhibitions, and interior or exterior setups. 
            </p>
        </div>
        <Image
          class="md:w-1/2 rounded-xs"
          src={experienceImg}
          alt="About Us"
        />
    </div>
    <div class="">
        <FeatureOver
          title={`WE BRING OVER <br />25 YEARS OF EXPERIENCE`}
          subTitle={`Delivering high-quality and innovative solutions for<br />
                    all your media and promotional needs. Our expertise<br />
                    spans across multiple industries, offering tailored<br />
                    services that align with your vision.`}
          src={about1}
          alt="Experience"
        />
    </div>
    <div class="flex flex-col md:flex-row gap-2 justify-center items-center my-12">
        <div class="flex flex-col gap-2 md:w-1/2">
            <h1 class="font-oswald font-bold text-3xl tracking-tight uppercase">Founded by a passionate and dedicated team</h1>
            <p>“We are committed to building a professional business that delivers the best solutions for our partners in all areas of outdoor media and promotion. As experienced young professionals, we are driven by a shared vision to innovate, create, and achieve excellence in every project we undertake.”
            </p>
            <div class="flex flex-row gap-x-2 items-center">
              <div class="bg-redP w-6" style="height: 2px;"></div>
              <b>by {SITE.title} team</b>
            </div>
        </div>
        <Image
          class="md:w-1/2 rounded-xs"
          src={about3}
          alt="About Us"
        />
    </div>
  </div>
</MainLayout>
