---
import AuthBtn from "@components/ui/buttons/AuthBtn.astro";
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import TextInput from "@components/ui/forms/input/TextInput.astro";
import EmailContactInput from "@components/ui/forms/input/EmailContactInput.astro";
import PhoneInput from "@components/ui/forms/input/PhoneInput.astro";
import TextAreaInput from "@components/ui/forms/input/TextAreaInput.astro";
import Icon from "@components/ui/icons/Icon.astro";
import { Image } from "astro:assets";

// Define variables for the section
const title: string = "Contact us";
const subTitle: string = "Untuk pertanyaan lebih lanjut";
const desc: string =
  "Jangan ragu untuk menghubungi kami. Mari berkolaborasi dan wujudkan visi Anda, karena di Metalindo, kepuasan Anda adalah prioritas kami.";
const formTitle: string = "Silakan isi formulir di bawah ini.";
const formSubTitle: string = "Kami akan menghubungi Anda kembali dalam 1-2 hari kerja.";

// Import contact icons
import waIcon from "@/images/wa-r.svg";
import mailIcon from "@/images/mail-r.svg";
import gpsIcon from "@/images/gps-r.svg";

// Create an icon map to reference images dynamically
const iconMap = {
  "wa-r.svg": waIcon,
  "mail-r.svg": mailIcon,
  "gps-r.svg": gpsIcon
} as const;

const links = [
  { title: "Phone Number", name: "0813-9880-0869", url: "https://wa.me/6281398800869?text=Halo%20%5BNama%20Anda%5D%2C%0A%0ASaya%20tertarik%20dengan%20layanan%20Anda%20untuk%20solusi%20media%20dan%20promosi.%20Bisakah%20saya%20mendapatkan%20informasi%20lebih%20lanjut%20terkait%3A%0A%0A1.%20Desain%20grafis%20dan%20branding%0A2.%20Produksi%20konten%20media%20sosial%0A3.%20Strategi%20pemasaran%20digital%0A4.%20Layanan%20lain%20yang%20Anda%20tawarkan%0A%0ATerima%20kasih.%20Saya%20menunggu%20respon%20dari%20tim%20Anda.", icon: "wa-r.svg" },
  { title: "E-Mail", name: "adorrajayamakmur@gmail.com", url: "mailto:adorrajayamakmur@gmail.com", icon: "mail-r.svg" },
  { title: "Address", name: "Jl. Raya Pondok Jagung Timur Gg. Mawi No. 26, Serpong, Tangerang, Banten", url: "https://maps.app.goo.gl/TJhZtHGns9zjKxKc9", icon: "gps-r.svg" },
];
---

<!-- Contact Us Section -->
<section class="mx-auto w-full default-ps my-12">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="flex flex-col md:flex-row justify-between items-center w-full">
      <div class="flex flex-col gap-2 md:w-1/2">
        <p class="mt-1 text-pretty font-oswald font-bold uppercase text-3xl">
          {subTitle}
        </p>
        <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
          {desc}
        </p>
        {
          links.map((link) => {
            const iconSrc = iconMap[link.icon as keyof typeof iconMap];

            return (
              <div class="flex flex-row items-center gap-x-2 mt-4">
                {iconSrc && (
                  <Image src={iconSrc} alt={link.title} class="w-8 h-8" />
                )}
                <div class="flex flex-col">
                  <p class="text-pretty font-bold">{link.title}</p>
                  <a href={link.url} class="text-pretty text-neutral-600 dark:text-neutral-400">{link.name}</a>
                </div>
              </div>
            );
          })
        }
      </div>

      <div class="w-full">
        <div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8">
          <h2 class="mb-8 text-xl font-bold text-neutral-700 dark:text-neutral-300">
            {formTitle}
          </h2>
  
          <form id="contactForm">
            <div class="grid gap-4">
              <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                <TextInput id="firstName" label="First Name" name="firstName" />
                <TextInput id="lastName" label="Last Name" name="lastName" />
              </div>
              <EmailContactInput id="email" name="email" />
              <PhoneInput id="phone" name="phone" />
              <TextAreaInput id="message" label="Pesan" name="message" />
            </div>
  
            <div class="mt-4 grid">
              <AuthBtn title="Kirim Pesan" />
            </div>
  
            <div class="mt-3 text-center">
              <p class="text-sm text-neutral-600 dark:text-neutral-400">
                {formSubTitle}
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="relative w-full" style="padding-bottom: 20%; min-height: 40svh;">
    <iframe 
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.1253041421282!2d106.67266389999999!3d-6.2472142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fb97d3a57f57%3A0x202eb3a235935f55!2sAdorra%20Jaya%20Metalindo!5e0!3m2!1sen!2sid!4v1741167581183!5m2!1sen!2sid" 
      class="absolute top-0 left-1/2 transform -translate-x-1/2 w-[80%] h-full border-0"
      allowfullscreen="" 
      loading="lazy" 
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</section>

<script is:inline src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script is:inline>
  document.addEventListener("DOMContentLoaded", function() {
    const form = document.getElementById("contactForm");
    const submitButton = form?.querySelector("button[type='submit']");

    if (!form || !submitButton) return;

    form.addEventListener("submit", async function(event) {
      event.preventDefault();
      submitButton.disabled = true;

      const formData = new FormData(form);

      try {
        const response = await fetch("/api/contact", {
          method: "POST",
          body: formData,
        });

        if (response.ok) {
          await Swal.fire({
            icon: "success",
            title: "Message Sent!",
            text: "We'll get back to you soon.",
          });
          form.reset();
        } else {
          const result = await response.json();
          await Swal.fire({
            icon: "error",
            title: "Error!",
            text: result.error || "Something went wrong.",
          });
        }
      } catch (error) {
        console.error("Submission error:", error);
        await Swal.fire({
          icon: "error",
          title: "Server Error!",
          text: "Failed to send message. Try again later.",
        });
      } finally {
        submitButton.disabled = false;
      }
    });
  });
</script>