---
import { Image } from "astro:assets";
import Icon from "@components/ui/icons/Icon.astro";
import type { CollectionEntry } from "astro:content";

const { product, productLocale = "", className = ""  } = Astro.props;

interface Props {
  product: CollectionEntry<"projects">;
  productLocale?: string;
  className?: string;
}

// Define classes for uniform image styling
const imageClass =
  "w-full h-[20dvh] sm:h-[30dvh] md:h-[25dvh] object-cover object-center transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110";
---

<!-- Clickable card leading to product details -->
<a
  href={productLocale && productLocale !== "en"
    ? `/${productLocale}/projects/${product.id.replace(/^fr\//, "")}/`
    : `/projects/${product.id.replace(/^en\//, "")}/`}
  data-astro-prefetch
  class={`group relative flex flex-col items-start rounded-xs overflow-hidden outline-none ring-zinc-500 focus-visible:ring dark:ring-zinc-200 dark:focus:outline-none ${className}`}
>
  <!-- Product Image -->
  <Image
    src={product.data.main.imgCard}
    alt={product.data.main.imgAlt}
    draggable={"false"}
    class={imageClass}
  />

  <!-- Product Description & Content -->
  <div class="flex flex-col w-full px-4 py-3">
    <span
      class="text-lg text-white font-bold font-oswald transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110 md:text-2xl"
    >
      {product.data.description}
    </span>
    <span
      class="text-sm font-bold min-h-[100px] text-white transition duration-[600ms] ease-[cubic-bezier(0.45,0,0.55,1)] group-hover:scale-110"
    >
      {product.data.main.content}
    </span>
  </div>
</a>
