---
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import bg1 from "@images/bg-1.png";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

// Fetching and sorting projects
const product: CollectionEntry<"projects">[] = (
  await getCollection("projects", ({ id }) => id.startsWith("en/"))
).sort((a, b) => a.data.main.id - b.data.main.id)
.filter(project => project.data.show);

const title: string = `<span class="font-bold">What We <br />OFFER?</span>`;
const subTitle: string = `We are your solution for all creative and professional <b>custom production needs</b>. We proudly offer the following services`;
---

<div class="mx-auto max-w-screen mt-[5.5rem] md:mt-[0.25rem] default-p 2xl:max-w-full flex-col flex md:flex-row gap-x-4 justify-between overflow-x-hidden">
  
  <!-- Background Image & Overlay (Wider Effect - 150vw) -->
  <div class="bg-container absolute z-5 inset-0 w-[150dvw] h-[35dvh] md:h-[30dvh] lg:h-[30dvh] -left-80 overflow-hidden bg-white">
    <div class="bg-image w-[150dvw] h-full absolute bg-cover bg-center"
      style={`background-image: url(${bg1.src});`}
    ></div>
    <div class="absolute z-6 inset-0 w-[150dvw] h-full bg-redP bg-opacity-85"></div>
  </div>

  <!-- Content Section -->
  <div class="relative z-10 mb-4 flex flex-col items-start justify-between gap-8 sm:mb-8 md:mb-12 pt-8">
    <div class="flex items-center gap-12">
      <h1 class="font-oswald text-balance text-3xl font-bold tracking-tight text-white md:text-6xl md:leading-tight">
          <Fragment set:html={title} />
      </h1>
    </div>
    <div class="w-[80%] border-b-4 border-redP"></div>
  </div>

  <!-- Product Grid -->
  <div class="relative z-10 flex flex-col">
    <div class="flex flex-col sm:flex-row items-center pt-8">
      <h3 class="text-balance text-sm tracking-tight text-white md:text-base md:leading-tight pb-4 sm:pr-4">
          <Fragment set:html={subTitle} />
      </h3>
      <SecondaryCTA title="More Services" url="/services" noArrow={true} />
    </div>
    <section class="grid grid-cols-2 gap-4 sm:grid-cols-2 md:grid-cols-3 xl:gap-8 my-4">
      {
        product.map((product, index) => <CardSmall product={product} />)
      }
    </section>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.timeline({
    scrollTrigger: {
      trigger: ".bg-container", // Ensures movement stays inside
      start: "top bottom",
      end: "bottom top",
      scrub: true,
    }
  })
  .fromTo(
    ".bg-image",
    { y: "20%", opacity: 0.4 },  // Start lower and slightly faded
    { y: "-15%", opacity: 1, ease: "none" } // Moves up and becomes more visible
  );
</script>
